{% extends 'layout.html' %}
{% block content %}
    <header class="navbar">
        <div class="logo">
            <a href="/" class="title">Reciped</a>
        </div>

        <nav>
            <a href="{{ url_for('home') }}">Browse</a>
            {% if current_user.is_authenticated %}
                <a href="{{ url_for('upload') }}">Upload</a>
                <a href="{{ url_for('favourites') }}">Favourites</a>

                <details class="profile-dropdown">
                    <summary class="profile-icon">
                        {{ current_user.username[0]|upper }}
                    </summary>
                    <div class="dropdown-content">
                        <a href="{{ url_for('logout') }}">Log Out</a>
                    </div>
                </details>

            {% else %}
                <a href="{{ url_for('login') }}" class="sidelogin-btn">
                    Log In
                </a>
            {% endif %}
        </nav>
    </header>

    <div class="hero-container">
        <div class="hero-overlay">
            <h1>Discover your next meal</h1>
            <form action="{{ url_for('home') }}" method="GET" class="search-form">
                <input
                    type="text"
                    name="query"
                    value="{{ query }}"
                    placeholder="Search recipes">
            </form>
            <div class="recipe-options">
                <a href="{{ url_for('home') }}" class="hero-btn">
                    Most Popular
                </a>
                <a href="{{ url_for('home', mode='random') }}" class="hero-btn">
                    Random Recipes
                </a>
            </div>
        </div>
    </div>

    <hr>

    <div class="recipe-cards">
        <section class="results-title">
            <h2>Trending Recipes</h2>
        </section>

        <section class="three-card-container">
            {% for recipe in recipes %}
            <div class="recipe-card">
                <a href="{{ url_for('recipe', recipe_id=recipe.id) }}">
                    <img src="{{ recipe.image }}">
                </a>
                <div class="recipe-info">
                    <h3>
                        <a href="{{ url_for('recipe', recipe_id=recipe.id) }}">
                            {{ recipe.title }}
                        </a>
                    </h3>
                    <div class="recipe-meta">
                        {% if recipe.readyInMinutes %}
                        <span>⏱ {{ recipe.readyInMinutes }} mins</span>
                        {% endif %}

                        {% if recipe.aggregateLikes %}
                        <span>⭐ {{ recipe.aggregateLikes }}</span>
                        {% endif %}
                    </div>
                    <div class="recipe-tags">
                        {% if recipe.cuisines %}
                            <span>{{ recipe.cuisines[0] }}</span>

                        {% elif recipe.dishTypes %}
                            <span>{{ recipe.dishTypes[0]|title }}</span>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </section>
    </div>

{% endblock %}
