{% extends 'layout.html' %}
{% block content %}
    <header class="navbar">
        <div class="logo">
            <a link href="/" class="title">Reciped</a>
        </div>

        <nav>
            <a href="#">Browse</a>
            <a href="#">Upload</a>
            <a href="#">Favourites</a>
            <a href="{{ url_for('login') }}" class="login-btn">Log in</a>
        </nav>
    </header>

    <h1>Search Recipes</h1>

    <form action="{{ url_for('home') }}" method="GET">
        <input
            type="text"
            name="query"
            value="{{ query }}"
            placeholder="Search recipes">
        <button type="submit">Search</button>
    </form>

    <hr>

    <h2>Results</h2>

    {% for recipe in recipes %}
        <div>
            <h3>{{ recipe.title }}</h3>
            <img src="{{ recipe.image }}" width="150">
        </div>
{% endfor %}
{% endblock %}
