<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css">
    <title>Recipes</title>
</head>
<body>
    <main>
    {% block content %}
    {% endblock %}
    </main>
    <footer class="site-footer">
        <p>
            Recipe data provided by
            <a href="https://spoonacular.com/food-api" target="_blank" rel="noopener">spoonacular API</a>.
            Recipe details may contain errors, so always check ingredients for allergens
        </p>
    </footer>
</body>
</html>