{% extends 'layout.html' %}
{% block content %}
    <header class="navbar">
        <div class="logo">
            <a link href="/" class="title">Reciped</a>
        </div>

        <nav>
            <a href="">Browse</a>
            <a href="">Upload</a>
            <a href="">Favourites</a>
            <a href="{{ url_for('login') }}" class="sidelogin-btn">Log in</a>
        </nav>
    </header>

    <div class="login-container">
        <form method="POST" class="login-form">
            {{ form.hidden_tag() }}
            <h1>Welcome Back</h1>
            
            <p class="subtitle">Log in to save favourites and share your reipces</p>
            <p>{{ form.username(placeholder="Username") }}</p>
            <p>{{ form.password(placeholder="Password") }}</p>
            <p>{{ form.submit() }}</p>
            <p class="signup">
                Don't have an account?
                <a href="{{ url_for('register') }}">Sign Up</a>
            </p>
        </form>
    </div>


{% endblock %}