{% extends 'layout.html' %}
{% block content %}
    <header class="navbar">
        <div class="logo">
            <a href="/" class="title">Reciped</a>
        </div>

        <nav>
            <a href="{{ url_for('home') }}">Browse</a>
            {% if current_user.is_authenticated %}
                <a href="{{ url_for('upload') }}">Upload</a>
                <a href="{{ url_for('favourites') }}">Favourites</a>

                <details class="profile-dropdown">
                    <summary class="profile-icon">
                        {{ current_user.username[0]|upper }}
                    </summary>
                    <div class="dropdown-content">
                        <a href="{{ url_for('logout') }}">Log Out</a>
                    </div>
                </details>

            {% else %}
                <a href="{{ url_for('login') }}" class="sidelogin-btn">
                    Log In
                </a>
            {% endif %}
        </nav>
    </header>

    <div class="hero-card">
        <div class="image-section">
            <img src="{{ recipe.image }}">
        </div>
        <div class="recipe-details">
            <h1>{{ recipe.title }}</h1>
            <div class="info-section">
                <div class="stats">
                    <div class="stat">
                        {{ recipe.readyInMinutes }} Mins
                    </div>
                    <div class="stat">
                        Serves {{ recipe.servings }}
                    </div>
                    <div class="stat">
                        <span class="star">★</span>
                        {{ recipe.spoonacularScore | round(1) }}
                    </div>
                </div>

                {% if not current_user.is_authenticated %}
                <a href="{{ url_for('login') }}" class="save-btn">
                    Login to save
                </a>

                {% elif is_favourite %}
                    <form action="{{ url_for('favourite', recipe_id=recipe.id) }}" method="POST">
                        <button type="submit" class="save-btn">
                            Remove from favourites
                        </button>
                    </form>

                {% else %}
                    <form action="{{ url_for('favourite', recipe_id=recipe.id) }}" method="POST">
                        <button type="submit" class="save-btn">
                            Save to favourites
                        </button>
                    </form>

                {% endif %}
            </div>
        </div>
    </div>  

    <div class="recipe-section">

        <section class="ingredients">
            <h2>Ingredients</h2>
            <ul>
                {% for ingredient in recipe.extendedIngredients %}
                    <li>{{ ingredient.original }}</li>
                {% endfor %}
            </ul>
        </section>

        <section class="method">
            <h2>Method</h2>
            {% if recipe.analyzedInstructions %}
                <ol>
                {% for step in recipe.analyzedInstructions[0].steps %}
                    <li>{{ step.step }}</li>
                {% endfor %}
                </ol>
            {% else %}
                <p>There is no instructions available for this dish</p>
            {% endif %}
        </section>
    </div>
{% endblock %}
